
<div class="row">
 
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <%= link_to image_tag(@bschool.try(:image)), bschool_url(@bschool) %>
      <div class="caption">
          <h3><%= link_to @bschool.name, bschool_url(@bschool) %></h3>
          <h4>Number of members: <%= @members.where(bschool_id: @bschool.id).size %></h4>
        </div>
      </div>
    </div>

</div>